@using StackOverflowClone.Core
@using StackOverflowClone.Core.Indexes
@model dynamic
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div id="mainbar">
        <div class="subheader">
            <h1 id="h-top-questions">@Model.Header</h1>
        </div>
        <div id="question-mini-list">
            @if (Model == null)
            {
                <p>No questions have been asked.</p>
            }
            else
            {
                Html.RenderPartial("_QuestionList", (IEnumerable<QuestionLightViewModel>)Model.Questions);
            }
        </div>
    </div>

    <div id="sidebar">
        <div class="module">
            <h2>Recent Tags</h2>
            @{
                Html.RenderPartial("_TagListVertical", (IEnumerable<QuestionTagsIndex.ReduceResult>)Model.RecentlyUsedTags);
            }
        </div>
        <br/><br/>
        <div class="module">
            <h2>Most Used Tags</h2>
            @{
                Html.RenderPartial("_TagListVertical", (IEnumerable<QuestionTagsIndex.ReduceResult>)Model.MostUsedTags); 
            }
        </div>
    </div>
</div>
