<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.7.2" />
  <package id="jQuery.UI.Combined" version="1.8.20" />
  <package id="Lucene.Net" version="2.9.4.1" />
  <package id="Lucene.Net.Contrib" version="2.9.4.1" />
  <package id="SharpZipLib" version="0.86.0" />
</packages>